*{
    box-sizing: border-box;
}

body{
    background: #232323;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;

}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
   
}

.myslider{
    height: 80vh;
    cursor: pointer;
    flex: 1;
    color: white;
    border-radius: 20px;
    margin:10px;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: all 0.8s ease-in-out;
}

.myslider h3{
    position: absolute;
    font-size: 24px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.myslider.active{
    flex:10;
}

.myslider.active h3{
    opacity: 1;
    transition: opacity 0.5s ease-in 0.4s;
}
